{% extends "base.html" %}
{% block title %} Goal! {% endblock %}

{% block content %}
<form method="POST">
  <input
      type="text"
      class = "form-control"
      id = "search"
      name="search"
      placeholder="Search User"/>
  <div align="center">
      <button type = "submit" class = "btn btn-primary"> Search user</button>
      </div>
  </form>


<h1 align="center"></h1>
<ul class="list-group list-group-flush" id="goals">
  {% for goal in user.goals %}
  <li class="list-group-item"> {{goal.goal}}</li>
  {% endfor %}
  </ul>
<form method="POST">
  <textarea
    name="goal"
    id = "goal"
    placeholder="Enter goal"
    class="form-control">
  </textarea>
  <div align="center">
      <button type = "submit" class = "btn btn-primary"> Add Goal </button>
      </div>
  </form>
{% endblock %}
